@import url(https://fonts.googleapis.com/css?family=Italianno);

.gallery {
    padding-top: 50px;
}

.gallery h1 {
    font-family: 'Italianno', cursive;
    text-align: center;
    font-size: 50pt;
    letter-spacing: 2pt;
    margin: 0 0 0 0;
    padding-bottom: 20px;
}

.mindo-footer {
    padding-top: 30px;
}

.btn-back {
    width: 250px;
    padding-left: 10px;
}

.btn-back:hover {
    background-color: rgba(100, 32, 61, .6);
    border-radius: 10px;
}

.btn-back:hover a {
    color: white;
}

.btn-back:hover .btn-arrow:before {
    color: white;
}

.btn-back a {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color: rgba(100, 32, 61, .8);
    font-size: 14pt;
}

.btn-arrow:before {
    font-family: 'FontAwesome', serif;
    content: '\f053';
    padding-right: 15px;
    position: relative;
    font-size: 90%;
    color: rgba(100, 32, 61, .8);
}

.masonry-brick .text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
}

.masonry-brick:hover span.text-content {
    opacity: 1;
}

.mfp-s-loading {
    /*background: url('../../assets/images/mindo_preloader.gif') no-repeat center center;*/
    /*content: '';*/
    font-family: Miama;
    font-size: 18pt;
}
