.navbar-brand img {
    max-width: 120px;
    margin-top: -7px;
}

@media screen and (min-width: 768px){
    #custom-nav {
        background-color: rgba(0,0,0,0);
        border: 0;
        box-shadow: none;
        z-index: 999;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: background .5s ease-in-out, opacity .5s ease;
        -moz-transition: background .5s ease-in-out, opacity .5s ease;
        transition: background .5s ease-in-out, opacity .5s ease;
    }

    #custom-nav a {
        color: #000;
    }

    #custom-nav a.active {
        background-color: rgba(100, 32, 61, .8);
        color: white;
        border-radius: 10px;
    }

    #custom-nav a:hover {
        color: rgb(240, 173, 78);
    }

    #custom-nav .container {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-weight: bolder;
        font-size: 12pt;
        -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
        -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
        transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
    }

    #custom-nav.affix {
        top: 0;
        min-width: 100%;
        background-color: #f8f8f8;
        opacity: 0.9;
        -webkit-transition: background .5s ease-in-out, opacity .5s ease;
        -moz-transition: background .5s ease-in-out, opacity .5s ease;
        transition: background .5s ease-in-out, opacity .5s ease;
    }
}

@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        z-index: 999;
    }
}
