@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Tangerine);
@import url(//fonts.googleapis.com/css?family=Italianno);
@import url(//fonts.googleapis.com/css?family=Euphoria+Script);
@import url(//fonts.googleapis.com/css?family=Montez);
@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import url(//fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  font-size: 12pt;
  line-height: 30px;
  /*letter-spacing: 1pt;*/
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#intro {
  padding-top: 50px;
  padding-bottom: 50px;
}

#intro p {
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  text-align: justify;
  font-size: 12pt;
  line-height: 30px;
  /*letter-spacing: 2px;*/
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

.mindo-heading {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 30pt;
  line-height: 1;
  letter-spacing: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  position: relative;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 20px;
}

.hero {
  background: url('../../assets/images/hero.jpg') no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 165px 0 130px 0;
  width: auto;
}

.hero .mindo {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 60pt;
  letter-spacing: 2px;
  margin: 10px;
}

.hero .mindo span {
  font-family: 'scriptinaregular', Arial, sans-serif;
  font-size: 70pt;
  letter-spacing: -3px;
  color: #64203d;
  display: inline-block;
}

.hero p {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 18pt;
  padding-top: 140px;
  letter-spacing: 4pt;
  color: #000
}

.unique {
  background: url('../../../assets/images/rings.jpg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  text-shadow: 0 0 10px rgba(150, 150, 150, 1);
}

.unique p {
  font-family: 'Tangerine';
  text-align: center;
  line-height: 120%;
  padding: 0 10pt 0;
  font-size: 40pt;
  letter-spacing: 10pt;
  color: black;
}

@media screen and (max-width: 320px) {
  .unique {
    display: none;
  }

  .hero {
    background: url('../../assets/images/hero_small.jpg') no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 165px 0 130px 0;
    width: auto;
  }

}

@media screen and (max-width: 480px) {
  .unique {
    display: none;
  }

  .hero {
    background: url('../../assets/images/hero_small.jpg') no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px 0 0px 0;
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background: url('../../assets/images/hero_small.jpg') no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 165px 0 130px 0;
    width: auto;
  }
}


.gallery-header p {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 16pt;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.description {
  vertical-align: middle;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  line-height: 30px;
  margin-right: 20px;
}
