<div ng-include="'app/mail/mail.html'"></div> 
<div class="subfooter">
	<h4>Ne maradj le az akciókról és a friss hírekről. Kövess minket a közösségi hálókon</h4>
	<div class="container">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="social">
	        <ul>
	          <a href="http://facebook.com/mindodesign"> <li class="facebook"></li></a>
	          <li class="twitter"></li>
	          <li class="google"></li>
	          <li class="instagram"></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>

</div>