<div ng-include="'app/mail/mail.html'"></div>
<div>
  <div class="text-center follow-text">megtalálsz minked a közösségi hálókon is</div>
  <div class="col-md-12">
    <div class="social">
      <ul>
        <a href="http://facebook.com/mindodesignhu" target="_blank">
          <li class="facebook"></li>
        </a>
        <a href="https://www.pinterest.com/mindodesign" target="_blank">
          <li class="printerest"></li>
        </a>
        <a href="http://instagram.com/mindodesign" target="_blank">
          <li class="instagram"></li>
        </a>
      </ul>
    </div>
  </div>
</div>
